.container {
  width: 890px;
}

#graphic {
  padding-top: 60px;
}


#sections {
  width: 250px;
  position: absolute;
  background-color: transparent;
  z-index: 2;
  top: 200px;
  margin-left: 77%;
}
#sections .title {
  font-family: Arial,Helvetica,"san-serif";
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #262626;
  line-height: 1.2em;
}

#extra-space {
  height: 300px;
}

.step {
  margin-bottom: 200px;
  font-family: "TiemposTextWeb-Regular","Georgia";
  font-size: 16px;
  line-height: 23px;
  color: #767678;
}



#vis {
  display: inline-block;
  position: fixed;
  top: 60px;
  z-index: 1;
  margin-left: 0;
}


.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}


#indo-map-container {
  display: inline-block;
  position: fixed;
  top: 200px;
  left: 310px;
  z-index: 2;
  margin-left: 0;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 0.1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

#info-location {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family:monospace;
}

#info-details {
  text-align: center;
  font-size: 16px;
  font-family:monospace;
}

div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 60px;					
  height: 20px;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
  z-index: 10;
}